<h3 class="mt-5 p-5 font-weight-bold">Fiche de l'auteur <%= @user_name %></h3>
<div class="px-5">

<p><%= @user_name  %> à <%= @user.age  %> ans,<br> <%= @user.description  %></p>
<br>
</p>
<span>L'auteur habite à <%= @user.city.name  %>.</span>
<br>
<span>Son adresse émail est <%= @user.email  %></span>
</div>
