<h3 class="mt-5 p-5 font-weight-bold">Le Potin n° <%= @gossip.id %></h3>
<div class="p-5">
<h5 class="font-weight-bold"><%= @gossip.title %></h5>
<p><%= @gossip.content %></p>
<br>
<span>Écris par <%= link_to @user_name, users_path(@gossip.user) %></span>
<br>
<small class="float-right text-muted"><%= @date_gossip %></small>
<br>
<% if logged_in? %>
  <% if current_user.id == @gossip.user_id %>
  <%= link_to "Met à jour ton potin", edit_gossip_path(@gossip.id), :class=> "btn btn-primary ml-auto"%>
  <%= link_to "Détruire ton potin", gossip_path(@gossip.id), method: "delete", :class=> "btn btn-danger ml-auto"%>
  <% end %>
<% end %>
</div>

<%# <%= render partial: "comments/form", locals: {gossip_id: @gossip.id, comment: @comment} %> 
